// サイト共有の初期設定
@import "../../../../styles/config";
@import "../../../../styles/function";

// ページのレスポンシブ設定
$width: responsive-width(pc);

.back {
  display: none;

  @media (max-width: responsive-width(tb)) {
    position: absolute;
    z-index: 99;
    top: 16px;
    left: 32px;

    background: $sub_clr;
    width: 48px;
    height: 48px;
    border-radius: 24px;

    display: flex;
    justify-content: center;
    align-items: center;

    opacity: 0.6;
    transition: all 0.4s;

    &:hover {
      opacity: 0.8;
    }
  }

  @media (max-width: responsive-width(sp)) {
    left: 12px;
    width: 32px;
    height: 32px;
    border-radius: 16px;
  }

  &_icon {
    font-size: 32px !important;
    color: $base_clr;

    @media (max-width: responsive-width(sp)) {
      font-size: 24px !important;
    }
  }
}
