@import "styles/config";
@import "styles/function";

// ページのレスポンシブ設定
$width: responsive-width(pc);

.target {
  padding-top: 196px;

  @media (max-width: responsive-width(tb)) {
    padding-top: 96px;
  }

  &_inner {
    width: 100vw;
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr 1080px 1fr;

    @media (max-width: responsive-width(miniPc)) {
      grid-template-columns: 1fr 560px 1fr;
    }

    @media (max-width: responsive-width(tb)) {
      grid-template-columns: 1fr;
      gap: 48px;
    }

    @media (max-width: responsive-width(sp)) {
      gap: 32px;
    }
  }
}
