@import "../../../../../../styles/config";
@import "../../../../../../styles/function";

// ページのレスポンシブ設定
$width: responsive-width(pc);

.form {
  display: flex;
  justify-content: center;
  gap: 16px;

  margin-bottom: 48px;

  @media (max-width: responsive-width(sp)) {
    margin-bottom: 16px;
  }

  &_input {
    background: $base_clr;
    border: 1px solid $bdr_clr;
    width: 400px;
    height: 48px;
    border-radius: 8px;
    padding: 8px 16px;
    color: $main_clr;

    display: grid;
    grid-template-columns: 24px 1fr 24px;
    align-items: center;
    gap: 8px;

    @media (max-width: responsive-width(sp)) {
      width: 100%;
      height: 40px;
      padding: 4px 12px;

      border: none;
      border-radius: 20px;
    }

    input::placeholder {
      color: $sub_clr;
      opacity: 0.6;
    }

    button {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  &_icon {
    color: $sub_clr;

    @media (max-width: responsive-width(sp)) {
      font-size: 16px !important;
    }

    &:hover {
      opacity: 0.8;
    }
  }
}
