// サイト共有の初期設定
@import "../../../../../styles/config";
@import "../../../../../styles/function";

// ページのレスポンシブ設定
$width: responsive-width(pc);

.main {
  max-width: 1280px;
  height: 100%;

  padding: 72px 16px 0;
  margin: 0 auto;

  position: relative;

  &_container {
    position: relative;
    z-index: 2;
    margin-top: auto-clamp(80px, 240px);

    display: flex;
    flex-direction: column;
    gap: 24px;

    @media (max-width: responsive-width(sp)) {
      margin-top: 48px;
      gap: 16px;
    }

    &_option {
      margin-top: auto-clamp(160px, 176px);

      @media (max-width: responsive-width(tb)) {
        margin-top: 36px;
      }

      @media (max-width: responsive-width(sp)) {
        margin-top: 0;
        gap: 16px;
      }
    }
  }

  &_wrap {
    display: flex;
    gap: 16px;
  }

  &_ttl {
    font-size: auto-clamp(48px, 64px);
    font-weight: bold;

    @media (max-width: responsive-width(sp)) {
      font-size: 32px;
    }

    &_option {
      @media (max-width: responsive-width(sp)) {
        font-size: 28px;
      }
    }
  }

  &_desc {
    line-height: 1.6;
    white-space: pre-wrap;

    @media (max-width: responsive-width(sp)) {
      font-size: 12px;
    }
  }

  &_img {
    width: auto-clamp(960px, 1040px);
    position: absolute;
    bottom: -160px;
    right: -80px;
    z-index: 1;

    @media (max-width: responsive-width(miniPc)) {
      width: 880px;
      right: -80px;
    }

    @media (max-width: responsive-width(tb)) {
      width: 640px;
      bottom: -104px;
      right: -48px;
    }

    @media (max-width: responsive-width(sp)) {
      width: 400px;
      bottom: -72px;
      right: -24px;
    }

    &_option {
      width: 800px;
      bottom: -120px;
      right: auto-min(-120px);

      @media (max-width: responsive-width(miniPc)) {
        width: 720px;
      }

      @media (max-width: responsive-width(tb)) {
        width: 640px;
      }

      @media (max-width: responsive-width(sp)) {
        opacity: 1;
        width: 440px;
        bottom: -72px;
        right: -64px;
      }
    }
  }
}
