// サイト共有の初期設定
@import "styles/config";
@import "styles/function";

// ページのレスポンシブ設定
$width: responsive-width(pc);

.nav {
  display: flex;
  flex-direction: column;

  &_disable {
    pointer-events: none;
  }

  &_wrap {
    padding: 16px 0;
    display: flex;
    flex-direction: column;
    gap: 16px;

    border-top: 1px solid $bg_clr;

    &:last-child {
      border-bottom: 1px solid $bg_clr;
    }
  }

  li {
    list-style: none;
  }

  &_btn {
    display: flex;
    align-items: center;
    gap: 8px;

    transition: all 0.4s;
    color: $icn_clr;

    &:hover {
      opacity: 0.8;
    }

    &_icon {
      font-size: 24px !important;
    }

    &_current {
      color: $acnt_clr;
    }

    &_notice {
      position: relative;

      &::before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 20px;

        width: 8px;
        height: 8px;
        border-radius: 4px;
        background: $add_clr;
      }
    }

    &_txt {
      letter-spacing: 0.8px;
    }
  }
}
