// サイト共有の初期設定
@import "../../styles/config";
@import "../../styles/function";

// ページのレスポンシブ設定
$width: responsive-width(pc);

.howto {
  line-height: 1.4;

  @media (max-width: responsive-width(sp)) {
    font-size: 12px;
  }

  &_inner {
    padding: 0 32px;
    min-height: $innerHeight;
    background: $base_clr;

    @media (max-width: responsive-width(sp)) {
      padding: 0 12px;
    }
  }

  &_btn {
    padding-top: 25px;
    color: $acnt_clr;

    @media (max-width: responsive-width(tb)) {
      padding-top: 15px;
    }

    @media (max-width: responsive-width(sp)) {
      font-size: 14px;
    }
  }

  &_main {
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding: 32px 0;

    @media (max-width: responsive-width(sp)) {
      gap: 24px;
      padding: 24px 0;
    }
  }

  &_ttl {
    font-size: 32px;
    color: $acnt_clr;
    text-align: center;

    @media (max-width: responsive-width(sp)) {
      font-size: 24px;
    }
  }

  &_desc {
    text-align: center;
  }

  &_container {
    background: $bg_clr;
    padding: 32px;
    border-radius: 16px;

    display: flex;
    flex-direction: column;
    gap: 8px;

    &_acnt {
      color: $remove_clr;
    }

    @media (max-width: responsive-width(sp)) {
      padding: 24px;
    }

    ul {
      color: $remove_clr;

      li {
        display: flex;
        gap: 8px;
        align-items: center;

        &::before {
          content: "";
          display: block;
          width: 8px;
          height: 8px;
          background: $remove_clr;
        }
      }
    }
  }
}
