// サイト共有の初期設定
@import "./config";
@import "./function";

body {
  font-family: sans-serif;
  background: $bg_clr;
  color: $main_clr;
  overflow-x: hidden;
}

.fadeIn {
  &:after {
    content: "";
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;

    background: $bg_clr;
    width: 100vw;
    height: 100vh;

    animation-name: fadeIn;
    animation-duration: 0.4s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;

    @keyframes fadeIn {
      0% {
        opacity: 0;
      }

      100% {
        opacity: 1;
      }
    }
  }
}

.fadeOut {
  &:after {
    content: "";
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;

    background: $bg_clr;
    width: 100vw;
    height: 100vh;

    animation-name: fadeOut;
    animation-duration: 0.4s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;

    @keyframes fadeOut {
      0% {
        opacity: 1;
      }

      100% {
        opacity: 0;
        position: static;
        display: none;
        pointer-events: auto;
      }
    }
  }
}

.lock {
  overflow-y: hidden;
}

.main {
  max-width: responsive-width(miniPc);
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2.333fr;

  & > div:nth-child(2) {
    position: relative;
    background: $base_clr;
    min-height: $innerHeight;
  }

  @media (max-width: responsive-width(tb)) {
    grid-template-columns: 1fr;
  }
}

.disable {
  width: 100vw;
  height: $innerHeight;
  display: flex;
  justify-content: center;
  align-items: center;

  color: $sub_clr;
}
