// サイト共有の初期設定
@import "./config";
@import "./function";

body {
  font-family: sans-serif;
  background: $bg_clr;
  color: $main_clr;
  overflow-x: hidden;
}

.lock {
  overflow-y: hidden;
}

.main {
  max-width: responsive-width(miniPc);
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2.333fr;

  & > div:nth-child(2) {
    background: $base_clr;
    min-height: 100vh;
  }

  @media (max-width: responsive-width(tb)) {
    grid-template-columns: 1fr;
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;

  background: $acnt_bg_clr;
  width: 100vw;
  height: 100vh;
  opacity: 0;
  pointer-events: none;
  cursor: pointer;

  &_open {
    animation: open 0.6s ease-out forwards;

    @keyframes open {
      0% {
        opacity: 0;
      }

      100% {
        opacity: 0.8;
        pointer-events: auto;
      }
    }
  }

  &_close {
    animation: close 0.6s ease-out forwards;

    @keyframes close {
      0% {
        opacity: 0.8;
      }

      100% {
        opacity: 0;
        pointer-events: none;
      }
    }
  }
}

.disable {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  color: $sub_clr;
}
