// サイト共有の初期設定
@import "styles/config";
@import "styles/function";
@import "styles/animation";

// ページのレスポンシブ設定
$width: responsive-width(pc);

.post {
  color: $main_clr;

  display: flex;
  flex-direction: column;

  animation-name: fadeIn;
  animation-duration: 0.4s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
}
