// サイト共有の初期設定
@import "styles/config";
@import "styles/function";

// ページのレスポンシブ設定
$width: responsive-width(pc);

.btn {
  display: block;

  height: 48px;
  padding: 0 32px;
  background: $acnt_clr;
  border-radius: 26px;

  color: $base_clr;
  line-height: 48px;
  white-space: nowrap;

  transition: all 0.4s;

  &:hover {
    opacity: 0.8;
  }

  @media (max-width: responsive-width(sp)) {
    height: 40px;
    line-height: 40px;
    padding: 0 12px;
    font-size: 14px;
  }

  &_hidden {
    @media (max-width: responsive-width(sp)) {
      display: none;
    }
  }

  &_square {
    border-radius: 8px;
  }

  &_acnt {
    background: $base_clr;
    color: $acnt_clr;

    &:hover {
      opacity: 0.8;
    }
  }

  &_input {
    background: $base_clr;
    width: 320px;
    height: 48px;
    padding: 0 16px;
    border-radius: 8px;

    color: $acnt_bg_clr;
    line-height: 48px;

    @media (max-width: responsive-width(sp)) {
      width: 100%;
      height: 40px;
      padding: 0 12px;

      line-height: 40px;
    }
  }
}
