// サイト共有の初期設定
@import "styles/config";
@import "styles/function";
@import "styles/animation";

// ページのレスポンシブ設定
$width: responsive-width(pc);

.user {
  position: relative;

  animation-name: fadeIn;
  animation-duration: 0.4s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;

  &_load {
    width: 100%;
    height: $innerHeight;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  &_inner {
    position: relative;
    padding: auto-clamp(72px, 80px) auto-clamp(32px, 48px)
      auto-clamp(20px, 28px);

    border-bottom: 1px solid $bg_clr;

    @media (max-width: responsive-width(sp)) {
      padding: 56px 12px 16px;
    }

    &_none {
      border: none;
    }
  }
}
