// サイト共有の初期設定
@import "../../styles/config";
@import "../../styles/function";

// ページのレスポンシブ設定
$width: responsive-width(pc);

.header {
  position: sticky;
  top: 0;
  z-index: 999;
  background: $base_clr;

  width: 100%;
  border-bottom: 1px solid $bdr_clr;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;

  &_requests {
    gap: 0px;

    @media (max-width: responsive-width(tb)) {
      gap: 16px;
    }
  }

  @media (max-width: responsive-width(sp)) {
    gap: 8px;
  }

  &_container {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: space-between;
    align-items: center;
    gap: 16px;

    @media (max-width: responsive-width(tb)) {
      padding: 16px 32px;
      grid-template-columns: 48px 1fr 48px;
    }

    @media (max-width: responsive-width(sp)) {
      grid-template-columns: 32px 1fr 32px;
      padding: 16px 12px;
      gap: 12px;
    }

    &_requests {
      @media (max-width: responsive-width(tb)) {
        padding: 16px 32px 0;
      }

      @media (max-width: responsive-width(sp)) {
        padding: 16px 12px 0;
        gap: 12px;
      }
    }

    &_menu {
      padding: 16px 32px 0;

      @media (max-width: responsive-width(tb)) {
        grid-template-columns: 48px 1fr;
      }

      @media (max-width: responsive-width(sp)) {
        grid-template-columns: 32px 1fr;
        padding: 16px 12px 0;
        gap: 12px;
      }
    }
  }

  &_icon {
    display: none;

    @media (max-width: responsive-width(tb)) {
      display: block;
      width: 48px;
      height: 48px;
    }

    @media (max-width: responsive-width(sp)) {
      width: 32px;
      height: 32px;
    }
  }

  &_wrap {
    width: 100%;
    height: 48px;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 18px;
    color: $icn_clr;

    @media (max-width: responsive-width(sp)) {
      font-size: 14px;
      height: 32px;
    }
  }

  &_back {
    position: static;
    padding: 0 32px;

    display: grid;
    grid-template-columns: 72px 1fr 72px;
    border: none;

    font-size: 18px;

    @media (max-width: responsive-width(sp)) {
      padding: 0 12px;
      font-size: 14px;
    }

    &_cancel {
      color: $acnt_clr;
      line-height: 48px;
      font-size: 16px;

      @media (max-width: responsive-width(sp)) {
        font-size: 14px;
      }
      
      &:hover {
        opacity: 0.8;
      }
    }

    &_ttl {
      line-height: 48px;
      text-align: center;
    }
  }
}
