// サイト共有の初期設定
@import "styles/config";
@import "styles/function";

// ページのレスポンシブ設定
$width: responsive-width(pc);

.edit {
  position: absolute;
  top: auto-clamp(16px, 24px);
  right: 32px;

  display: flex;
  gap: 8px;

  @media (max-width: responsive-width(sp)) {
    top: 12px;
    right: 12px;
  }

  &_btn {
    position: relative;
    width: 144px;
    height: 40px;
    border: 1px solid $sub_clr;
    border-radius: 20px;

    color: $sub_clr;
    font-size: 14px;
    text-align: center;

    @media (max-width: responsive-width(sp)) {
      width: 104px;
      font-size: 10px;
      height: 32px;
    }

    &_select {
      position: relative;
      color: $acnt_clr;
      border-color: $acnt_clr;
      cursor: pointer;

      &:after {
        pointer-events: none;
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        border-top: 8px solid $acnt_clr;
        content: "";
        position: absolute;
        right: 12px;
        top: 15px;
        width: 0;

        @media (max-width: responsive-width(tb)) {
          top: 15px;
        }

        @media (max-width: responsive-width(sp)) {
          border-left: 4px solid transparent;
          border-right: 4px solid transparent;
          border-top: 5px solid $acnt_clr;
          top: 13px;
          right: 9px;
        }
      }
    }

    &_display {
      pointer-events: none;
      position: absolute;
      top: 0;
      left: 0;

      width: 100%;
      height: 100%;

      display: flex;
      justify-content: center;
      align-items: center;
    }

    &_input {
      width: 100%;
      height: 100%;
      cursor: pointer;
      opacity: 0;
    }

    &_submit {
      background: $acnt_clr;
      border: none;
      color: $base_clr;
    }
  }
}
