// サイト共有の初期設定
@import "../../../styles/config";
@import "../../../styles/function";

// ページのレスポンシブ設定
$width: responsive-width(pc);

.fv {
  background: $acnt_bg_clr;
  width: 100vw;
  height: auto-clamp(880px, 1200px);
  position: relative;
  overflow: hidden;

  color: $acnt_clr;

  @media (max-width: responsive-width(sp)) {
    height: 592px;
  }

  &_option {
    height: auto-clamp(640px, 720px);

    @media (max-width: responsive-width(sp)) {
      height: 480px;
    }
  }

  &_bg {
    position: absolute;
    width: 100vw;
    height: 100%;
    object-fit: cover;
    top: 0;
    left: 0;
  }

  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background: $acnt_bg_clr;
    opacity: 0.8;
    width: 100%;
    height: 100%;
  }
}
