// サイト共有の初期設定
@import "../../styles/config";
@import "../../styles/function";

// ページのレスポンシブ設定
$width: responsive-width(pc);

.load {
  display: block;
  opacity: 1;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;
  z-index: 9999;

  background: $bg_clr;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: opacity 0.7s;

  &_fetch {
    background: none;
    z-index: 99;

    max-width: responsive-width(miniPc);
    margin: 0 auto;

    display: grid;
    grid-template-columns: 1fr 2.333fr;

    padding-top: 129px;

    & > div {
      text-align: center;
      grid-column: 2 / 3;
    }

    @media (max-width: responsive-width(tb)) {
      display: flex;
    }

    @media (max-width: responsive-width(sp)) {
      padding-top: 89px;
    }
  }

  &_opacity {
    opacity: 0;
  }

  &_none {
    display: none;
  }
}
