// サイト共有の初期設定
@import "../../../../styles/config";
@import "../../../../styles/function";

// ページのレスポンシブ設定
$width: responsive-width(pc);

.header {
  display: flex;
  flex-direction: column;
  gap: 16px;

  transition: all 0.4s;

  &:hover {
    opacity: 0.8;
  }

  &_icon {
    width: 48px;
    height: 48px;
  }

  &_container {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &_wrap {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 8px;
  }

  &_nickName {
    font-size: 18px;
    font-weight: bold;
    color: $icn_clr;
    letter-spacing: 0.8px;
  }

  &_state {
    display: inline-block;
    padding: 0 8px;
    border-radius: 8px;
    line-height: 24px;
    font-size: 12px;
    background: $acnt_ext_clr;
    color: $base_clr;

    @media (max-width: responsive-width(sp)) {
      line-height: 20px;
      border-radius: 6px;
      font-size: 10px;
    }

    &_disable {
      background: $sub_clr;
    }

    &_hurry {
      background: $remove_clr;
    }
  }

  &_uid {
    font-size: 10px;
    color: $sub_clr;
  }
}
