@import "../../../../../../../styles/config";
@import "../../../../../../../styles/function";

// ページのレスポンシブ設定
$width: responsive-width(pc);

.follow {
  padding-top: 48px;

  &_figure {
    margin-bottom: 96px;

    @media (max-width: responsive-width(sp)) {
      margin-bottom: 48px;
    }

    &_user {
      position: absolute;
      top: 56px;
      right: 48px;
      z-index: 1;

      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 16px;

      width: 480px;

      @media (max-width: responsive-width(tb)) {
        width: 320px;
        top: 16px;
      }

      @media (max-width: responsive-width(sp)) {
        gap: 8px;

        width: 184px;
        top: 8px;
        right: 16px;
      }
    }

    &_card {
      width: 80%;
      box-shadow: -8px 8px 32px $shdw_clr;

      border-radius: 8px;

      @media (max-width: responsive-width(sp)) {
        width: 88%;
        border-radius: 6px;
      }

      &_acnt {
        width: 100%;
      }
    }

    &_mockup {
      width: 100%;
      height: auto;

      filter: drop-shadow(8px -4px 16px $shdw_clr);
    }
  }
}
