@import "../../../../styles/config";
@import "../../../../styles/function";

// ページのレスポンシブ設定
$width: responsive-width(pc);

.what {
  padding-top: 96px;

  &_ttl {
    margin-bottom: 48px;

    @media (max-width: responsive-width(sp)) {
      font-size: 26px;
    }
  }

  &_main {
    margin-bottom: 96px;

    @media (max-width: responsive-width(sp)) {
      margin-bottom: 48px;
    }

    &_txt {
      text-align: center;
      line-height: 1.6;
    }
  }

  &_img {
    display: block;
    width: 100%;
    height: auto;
    margin: 0 auto;
  }
}
