// サイト共有の初期設定
@import "../../../../../../styles/config";
@import "../../../../../../styles/function";

// ページのレスポンシブ設定
$width: responsive-width(pc);

.header {
  display: flex;
  flex-direction: column;
  gap: 12px;

  margin-bottom: 24px;

  @media (max-width: responsive-width(sp)) {
    gap: 6px;
    margin-bottom: 12px;
  }

  &_position {
    align-self: flex-start;
    background: $icn_clr;
    color: $base_clr;
    padding: 6px 12px;
    border-radius: 8px;

    @media (max-width: responsive-width(sp)) {
      padding: 4px 8px;
      border-radius: 6px;
    }

    &_txt {
      font-size: 14px;

      @media (max-width: responsive-width(sp)) {
        font-size: 10px;
      }
    }
  }

  &_tags {
    display: flex;
    gap: 8px;
    flex-wrap: wrap;

    &_tag {
      background: $acnt_clr;
      color: $base_clr;
      padding: 6px 12px;
      border-radius: 12px;

      display: flex;
      justify-content: center;
      align-items: center;

      @media (max-width: responsive-width(sp)) {
        padding: 4px 8px;
      }

      &_tools {
        background: $sub_clr;
      }

      &_txt {
        font-size: 12px;

        @media (max-width: responsive-width(sp)) {
          font-size: 10px;
        }
      }
    }
  }
}
