@import "../../../../../../styles/config";
@import "../../../../../../styles/function";

// ページのレスポンシブ設定
$width: responsive-width(pc);

.follow {
  padding-top: 48px;

  &_figure {
    margin-bottom: 96px;

    &_user {
      position: absolute;
      top: 56px;
      right: 48px;
      z-index: 1;

      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 16px;

      width: 480px;
    }

    &_card {
      width: 80%;
      box-shadow: -8px 8px 32px $shdw_clr;

      border-radius: 8px;

      &_acnt {
        width: 100%;
      }
    }

    &_mockup {
      width: 100%;
      height: auto;
    }
  }
}
