// サイト共有の初期設定
@import "../../styles/config";
@import "../../styles/function";

// ページのレスポンシブ設定
$width: responsive-width(pc);

.maintenance {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100vw;
  height: $innerHeight;
  background: $bg_clr;

  display: flex;
  align-items: center;
  justify-content: center;

  padding-top: 192px;

  @media (max-width: responsive-width(sp)) {
    padding-top: 64px;
  }

  &_inner {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &_ttl {
    position: absolute;
    top: 31px;
    font-size: 48px;
    color: $sub_clr;

    @media (max-width: responsive-width(sp)) {
      top: 24px;
      font-size: 24px;
    }
  }

  &_img {
    width: 720px;
    height: auto;

    @media (max-width: responsive-width(sp)) {
      width: 320px;
    }
  }
}
