// サイト共有の初期設定
@import "../../styles/config";
@import "../../styles/function";

// ページのレスポンシブ設定
$width: responsive-width(pc);

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;

  background: $acnt_bg_clr;
  width: 100vw;
  height: 100vh;
  opacity: 0;
  pointer-events: none;
  cursor: pointer;

  transition: all 0.6s;

  &_open {
    opacity: 0.8;
    pointer-events: auto;
  }

  &_close {
    opacity: 0;
    pointer-events: none;
  }
}


