// サイト共有の初期設定
@import "../../../styles/config";
@import "../../../styles/function";

// ページのレスポンシブ設定
$width: responsive-width(pc);

.list {
  width: 100%;

  display: flex;
  flex-direction: column;

  @media (max-width: responsive-width(sp)) {
    padding-bottom: 16px;
  }

  &_scroll {
    overflow-y: scroll;
  }

  &_none {
    width: 100%;
    height: calc(100vh - 130px);
    display: flex;
    justify-content: center;
    align-items: center;

    &_message {
      font-size: 14px;
      color: $sub_clr;
    }

    &_select {
      height: calc(80vh - 72px);

      @media (max-width: responsive-width(sp)) {
        height: calc(80vh - 78px);
      }
    }

    &_companys {
      height: 320px;
    }

    &_list {
      height: calc(100vh - 48px);

      @media (max-width: responsive-width(tb)) {
        height: calc(100vh - 80px);
      }

      @media (max-width: responsive-width(sp)) {
        height: calc(100vh - 64px);
      }
    }

    &_requests {
      height: calc(100vh - 97px);

      @media (max-width: responsive-width(tb)) {
        height: calc(100vh - 129px);
      }

      @media (max-width: responsive-width(sp)) {
        height: calc(100vh - 89px);
      }
    }
  }

  &_load {
    display: flex;
    justify-content: center;

    padding-bottom: 32px;

    @media (max-width: responsive-width(sp)) {
      padding-bottom: 64px;
    }

    &_none {
      display: none;
    }
  }
}
