// サイト共有の初期設定
@import "../../../styles/config";
@import "../../../styles/function";

// ページのレスポンシブ設定
$width: responsive-width(pc);

.list {
  width: 100%;

  display: flex;
  flex-direction: column;

  @media (max-width: responsive-width(sp)) {
    padding-bottom: 16px;
  }

  &_none {
    width: 100%;
    height: calc(100% - 130px);
    display: flex;
    justify-content: center;
    align-items: center;

    &_message {
      font-size: 14px;
      color: $sub_clr;
    }
  }

  &_load {
    display: flex;
    justify-content: center;

    &_none {
      display: none;
    }
  }
}
