@import "../../../../../../styles/config";
@import "../../../../../../styles/function";

// ページのレスポンシブ設定
$width: responsive-width(pc);

.side {
  position: relative;

  &:first-child {
    @media (max-width: responsive-width(tb)) {
      grid-row: 2 / 3;
    }
  }

  &:last-child {
    @media (max-width: responsive-width(tb)) {
      display: none;
    }
  }

  &_bg {
    width: 100%;
    height: 100%;
    opacity: 0.2;
    object-fit: cover;
    object-position: 100% 0%;

    @media (max-width: responsive-width(tb)) {
      height: 38vw;
    }
  }

  &:last-child > &_bg {
    object-position: 0% 0%;
  }

  &_icon {
    position: absolute;
    z-index: 1;

    width: 64px;
    height: 64px;
    border-radius: 8px;
    padding: 8px;

    overflow: hidden;
    background: $base_clr;

    @media (max-width: responsive-width(sp)) {
      width: 40px;
      height: 40px;
    }

    &_typescript {
      top: 48%;
      right: 16%;

      background: #0076c5;

      @media (max-width: responsive-width(tb)) {
        top: 8%;
        right: 84%;
      }

      @media (max-width: responsive-width(sp)) {
        left: 16px;
      }
    }

    &_javascript {
      top: 32%;
      right: 40%;

      background: #f0db4f;

      @media (max-width: responsive-width(tb)) {
        top: 36%;
        right: 40%;
      }

      @media (max-width: responsive-width(sp)) {
        top: 16%;
        right: 44%;
      }
    }

    &_react {
      top: 8px;
      right: 8px;

      @media (max-width: responsive-width(tb)) {
        top: 4%;
        right: 8%;
      }

      @media (max-width: responsive-width(sp)) {
        top: 0;
        right: 16px;
      }
    }

    &_python {
      top: 72%;
      right: 36%;

      @media (max-width: responsive-width(tb)) {
        top: 72%;
        right: 20%;
      }

      @media (max-width: responsive-width(sp)) {
        top: 56%;
        right: 8%;
      }
    }

    &_figma {
      top: 8%;
      right: 64%;

      @media (max-width: responsive-width(tb)) {
        top: 64%;
        right: 72%;
      }

      @media (max-width: responsive-width(sp)) {
        top: 64%;
        left: 8%;
      }
    }

    &_flutter {
      top: 88%;
      right: 24%;

      @media (max-width: responsive-width(tb)) {
        top: 16%;
        right: 64%;
      }

      @media (max-width: responsive-width(sp)) {
        top: 42%;
        right: 64%;
      }
    }

    &_kotlin {
      top: 60%;
      right: 56%;

      @media (max-width: responsive-width(tb)) {
        top: 56%;
        right: 56%;
      }

      @media (max-width: responsive-width(sp)) {
        top: 68%;
        right: 36%;
      }
    }

    &_unity {
      top: 16%;
      right: 24%;

      @media (max-width: responsive-width(tb)) {
        top: 28%;
        right: 24%;
      }
    }

    &_azure {
      top: 16%;
      left: 40%;
    }

    &_go {
      top: 8%;
      left: 8px;
    }

    &_illustrator {
      top: 8px;
      left: 56%;

      background: #faa625;

      &:after {
        content: "";
        display: block;

        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        width: 50%;
        height: 50%;
        background: $base_clr;
      }
    }

    &_photoshop {
      top: 32%;
      left: 16%;

      background: #80b5e2;

      &:after {
        content: "";
        display: block;

        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        width: 50%;
        height: 50%;
        background: $base_clr;
      }
    }

    &_php {
      top: 48%;
      left: 32%;
    }

    &_mysql {
      top: 72%;
      left: 64%;
    }

    &_vue {
      top: 64%;
      left: 4%;
    }

    &_java {
      top: 84%;
      left: 20%;
    }

    &_img {
      width: 100%;
      height: 100%;

      &_illustrator {
        position: relative;
        z-index: 1;
      }

      &_photoshop {
        position: relative;
        z-index: 1;
      }
    }
  }
}
